/* - GymPage - */
#gymBanner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100vw;
    height: 20vh;
}

#gymStats {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 50px;
}
/* LEFT SIDE */
#gymStatsLeft {
    display: flex;
    flex-direction: column;
}

/* Score Board */
#gymStatsScoreBoard {
    height: 450px;
    overflow: scroll;
}


table {
    border-collapse: collapse;
    width: 100%;
}

#gymStatsScoreBoard table thead  th {
    background-color: red;
    color: white;
}

/* Scatter Plot */
#scatterPlotSvg {
    border: 1px solid black;
    background-color: gray;
}

/* RIGHT SIDE */
#gymStatsRight {
    display: flex;
    flex-direction: column;
}

/* Radar Chart */
#gymStatsRadarChart {
    background: #ededed;
}

