/* - GymPage - */
#gymPage {
    background-image: url("bilder/gymBG.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#gymBanner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100vw;
    height: 20vh;
    color: white;
    font-size: 26px;
}

#gymStats {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 80px;
}
#gymBannerBack { filter: invert(1);}

/* LEFT SIDE */
#gymStatsLeft {
    display: flex;
    flex-direction: column;
}

/* Score Board */
#gymStatsScoreBoard {
    height: 350px;
    width: 700px;
    overflow: scroll;
    font-size: 22px;
    border-radius: 5px;
    margin-bottom: 35px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

#gymStatsScoreBoard table thead  th {
    background-color: red;
    color: white;
}
tr {
    height: 28px;
    text-align: left;
}
th {
    height: 42px;
}

th:nth-of-type(1) {
    text-align: left;
    padding-left: 20px;
}
th:nth-of-type(4) {
    text-align: right;
    padding-right: 20px;
}
tr:nth-of-type(even) {
    background-color: #eeeeee;
}
tr:nth-of-type(odd) {
    background-color: #ffffff;
}

/* Scatter Plot */
#scatterPlotSvg {
    border: 1px solid black;
    background-color: gray;
}

/* RIGHT SIDE */
#gymStatsRight {
    display: flex;
    flex-direction: column;
}

/* Radar Chart */
#gymStatsRadarChart {
    background: white;
    margin-bottom: 10px;
}