@font-face {
    font-family: "pokemonFont";
    src: url(fonts/Pokemon-Pixel-Font.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: "pokemonFont", monospace;
}

* {
    margin: 0;
    padding: 0; 
    border: 0;
    box-sizing: border-box;
}

#navBar {
    margin: 20px;
    display: flex;
    position: fixed;
    top: 90%;
    right: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
}

#navBar button {
padding: 20px;
cursor: pointer;
}

.hide {
    display: none;
}





























body {
    margin: 0;
}

#pokemon-page {
    width: 100vw;
    background-color: rgba(250, 250, 250, 0.75);
}

.pokemon-page-background {
    background-image: url(bilder/choose\ pokemon.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}

#pokemon-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 20vh;
}

#header-contents-left,
#header-contents-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-contents-left {
    margin-left: 20px;
    gap: 20px;
}

#header-contents-right {
    margin-right: 25px;
}

#pokemon-page-arrow-back, #gymBannerBack {
    background-image: url(icons/arrowback.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

#pokemon-picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#pokemon-name-and-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#pokemon-name-label {
    margin: 0;
}

#labels-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.label {
    border-radius: 25px;
    padding: 5px;
}

#generation-label {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.pokemon-points-and-placement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.pokemon-points-and-placement h2,
.pokemon-points-and-placement p {
    margin: 0;
}

.seperator {
    border-right: 1px solid #93928e;
}

#pokemon-page-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 90px;
    margin: 20px 25px;
}

#pokemon-page-score-svg {
     border-radius: 20px;
      background-color: white;
}

#pokemon-page-tabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#table-labels,
.table-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #93928e;
}

#table-labels {
    gap: 60px;
    border-radius: 20px 20px 0 0;
}

.table-row {
    background-color: white;
}

.round-value {
    width: 48px;
    margin-right: 42px;
}

.date-value {
    width: 20px;
    margin-right: 63px;
}

.score-value {
    width: 20px;
    margin-right: 70px;
}

.placement-value {
    width: 6px;
}

.last-row {
    height: 20px;
    border-radius: 0 0 20px 20px;
}

.inactive-gen-button {
    background-color: gray;
    color: rgb(103, 102, 102);
}